<ion-header>
  <ion-toolbar>
    <ion-title>
      Mercancía Inicial
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-segment [(ngModel)]="selectedTab">
      <ion-segment-button value="tab1">
        <ion-label>Inicial</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tab2">
        <ion-label>Actual</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-modal
    trigger="open"
    [initialBreakpoint]="0.25"
    [breakpoints]="[0, 0.25, 0.5, 0.75]"
    handleBehavior="cycle"
  >
    <ng-template>
      <ion-content class="ion-padding">
        <div class="ion-margin-top">
          <ion-label>Click the handle above to advance to the next breakpoint.</ion-label>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

    <div *ngIf="selectedTab === 'tab1'">
      <ion-item *ngFor="let item of mercanciaInicialArray">
        <ion-label>
          <div><strong>Nombre:</strong> {{ getArticuloNombre(item.key) }}</div>
          <div><strong>Precio:</strong> {{ item.value.precio }}</div>
          <div><strong>Unidades:</strong> {{ item.value.unidades }}</div>
          <div><strong>Total:</strong> {{ calcularTotalPorArticulo(item.value.precio, item.value.unidades) | currency }}</div>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <div><strong>Valor Inventario Inicial:</strong> {{ calcularTotalPrecios2() | currency }}</div>
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="selectedTab === 'tab2'">
      <ion-item *ngFor="let item of mercanciaArray">
        <ion-label>
          <div><strong>Nombre:</strong> {{ getArticuloNombre(item.key) }}</div>
          <div><strong>Precio:</strong> {{ item.value.precio }}</div>
          <div><strong>Unidades:</strong> {{ item.value.unidades }}</div>
          <div><strong>Total:</strong> {{ calcularTotalPorArticulo(item.value.precio, item.value.unidades) | currency }}</div>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          <div><strong>Valor Inventario Actual:</strong> {{ calcularTotalPrecios() | currency }}</div>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>

<ion-item>
  <ion-label>
    <div><strong>Total Vendido:</strong> {{ (calcularTotalPrecios2() - calcularTotalPrecios()) | currency }}</div>  </ion-label>
</ion-item>
<ion-button id="present-alert">Corte</ion-button>
<ion-alert
  trigger="present-alert"
  header="Quieres hacer el corte?"
  [buttons]="alertButtons"
></ion-alert>


